.contenedor{
    width: 1600px;
    height:720px;
    font-size: 25px;
    font-family: monospace;
    display:flex;
    background-color:#212121 ;
    justify-content: center;
    align-items: center;
    background-image: url("../../asset/Banner.png");
    align-content: center;
    margin-top: center;
   
    text-align: center;
    text-justify: 15px;
    flex-wrap: wrap;
}